/* Asumiendo que .app-content ya tiene flex: 1; del layout principal */
.app-content {
    /* Si la imagen está en una vista de componente (como /home) dentro del router-outlet: */
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente el contenido hijo */
    align-items: center; /* Centra verticalmente el contenido hijo */
    flex-grow: 1; /* Asegura que ocupe todo el espacio vertical disponible */
    /* El flex-grow: 1 ya debería estar en el .app-content del layout */
    height: 100%; /* Asegura que ocupe el 100% de la altura de la sección */
}