<div class="home-container">
  <h1>Bienvenido a ACME Solutions</h1>
  <img src="/assets/img/acme_logo.png" alt="Logo ACME" style="max-width: 300px;">
  <p>Gestión de vehículos, conductores y propietarios</p>

  <nav>
    <ul>
      <li><a routerLink="/admin/vehiculo-form" routerLinkActive="active">Registrar Vehículo</a></li>
      <li><a routerLink="/admin/conductor-form" routerLinkActive="active">Registrar Conductor</a></li>
      <li><a routerLink="/admin/propietario-form" routerLinkActive="active">Registrar Propietario</a></li>
      <li><a routerLink="/admin/vehiculo-list" routerLinkActive="active">Consultar Vehículos</a></li>
      <li><a routerLink="/admin/conductor-list" routerLinkActive="active">Consultar Conductores</a></li>
      <li><a routerLink="/admin/propietario-list" routerLinkActive="active">Consultar Propietarios</a></li>
      <li><a routerLink="/admin/vehiculo-informe" routerLinkActive="active">Informe de Vehículos</a></li>
    </ul>
  </nav>
</div>
