<div class="app-container">
    <header class="app-header">
        <nav>
            <div class="logo">
                <a routerLink="/home" routerLinkActive="active">
                    <img src="assets/img/oet_logo.png" alt="Logo ACME" style="max-width: 300px;">
                </a>
            </div>
            <ul class="nav-links">
                
                <li class="dropdown" 
                    [ngClass]="{'open': openDropdown === 'vehiculos'}">
                    <a class="dropbtn" (click)="toggleDropdown('vehiculos')">Vehículos</a>
                    <div class="dropdown-content">
                        <a routerLink="/admin/vehiculo-form" routerLinkActive="active" (click)="openDropdown = null">Registrar Vehículo</a>
                        <a routerLink="/admin/vehiculo-list" routerLinkActive="active" (click)="openDropdown = null">Consultar Vehículos</a>
                    </div>
                </li>

                <li class="dropdown" 
                    [ngClass]="{'open': openDropdown === 'conductores'}">
                    <a class="dropbtn" (click)="toggleDropdown('conductores')">Conductores</a>
                    <div class="dropdown-content">
                        <a routerLink="/admin/conductor-form" routerLinkActive="active" (click)="openDropdown = null">Registrar Conductor</a>
                        <a routerLink="/admin/conductor-list" routerLinkActive="active" (click)="openDropdown = null">Consultar Conductores</a>
                    </div>
                </li>

                <li class="dropdown" 
                    [ngClass]="{'open': openDropdown === 'propietarios'}">
                    <a class="dropbtn" (click)="toggleDropdown('propietarios')">Propietarios</a>
                    <div class="dropdown-content">
                        <a routerLink="/admin/propietario-form" routerLinkActive="active" (click)="openDropdown = null">Registrar Propietario</a>
                        <a routerLink="/admin/propietario-list" routerLinkActive="active" (click)="openDropdown = null">Consultar Propietarios</a>
                    </div>
                </li>

                <li>
                    <a routerLink="/admin/vehiculo-informe" routerLinkActive="active">Informe de Vehículos</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="app-content">
        <router-outlet></router-outlet>
    </main>

    <footer class="app-footer">
        <p>Sistema de Gestión © 2025</p>
    </footer>
</div>